
<p>Welcome to prather.org. Right now there is just a bunch of old stuff lying
about but I&#8217;m working on actually creating something useful. Please bear
with me for a little bit until I get the plans at least sort of working.</p>

<p>-Chris</p>